.banner {
    text-align: left;
    background-color: black;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.title {
    color: rgb(248, 184, 100);
    font-size: 4vw;
}

.giphy {
    
    height: 85;
    width: 65px;
}

