

@font-face {
    font-family: "earthorbiter";
    src: local("earthorbiter"),
        url(../../assets/fonts/earthorbiteracad.ttf);
}

@font-face {
    font-family: "earthorbiter3";
    src: local("earthorbiter3"),
        url(../../assets/fonts/earthorbiter3dital.ttf);
}

@font-face {
    font-family: "Countless";
    src: local("Countless"),
        url(../../assets/fonts/Countless.ttf);
}

@font-face {
    font-family: "Azonix";
    src: local("Azonixs"),
        url(../../assets/fonts/Azonix.otf);
}

@font-face {
    font-family: "Geomatrix";
    src: local("Geomatrix"),
        url(../../assets/fonts/GeomatrixMedium-1G4Zv.ttf);
}

@font-face {
    font-family: "Vensfolk";
    src: local("Vensfolk"),
        url(../../assets/fonts/Vensfolk.otf);
}



body {
    background-color: #282c34;
    font-family: 'earthorbiter';
}